### https://raw.github.com/github/gitignore/7e04a3f05c5b913b5767ca88fc61734494ca97e2/Global/Linux.gitignore

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*


### https://raw.github.com/github/gitignore/7e04a3f05c5b913b5767ca88fc61734494ca97e2/Global/Emacs.gitignore

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/

# server auth directory
/server/


### https://raw.github.com/github/gitignore/7e04a3f05c5b913b5767ca88fc61734494ca97e2/Global/Vim.gitignore

# swap
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
# persistent undo 
*.un~
# session
Session.vim
# temporary
.netrwhist
*~


### custom

# emacs
.emacs.d/elisp/el-get/*
!.emacs.d/elisp/el-get/.gitkeep
.emacs.d/elisp/elpa/*
!.emacs.d/elisp/elpa/.gitkeep
.emacs.d/elpa/*
undohist
.recentf
recentf
ac-comphist.dat

# vim
.vim/bundle/*
!.vim/bundle/.gitkeep

# tmux
.tmux/plugins/
.tmux/resurrect/
